RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
SetEnv USER_MAIL_DOMAIN user@domain

SetEnv DATABASE_SERVER localhost
SetEnv DATABASE_LOGIN user
SetEnv DATABASE_PASSWORD password
SetEnv DATABASE_NAME evisync